
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body {
margin: auto;
margin-left: 30%;
margin-right: 30%;
}
.container {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img {
    width: 30vh;
}
#container {
    display: flex;
}
#container h1 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
img {
    margin: auto;
width: 100%;
}
header hr {
    color: rgb(255, 230, 0);
    margin: 0%;
border: solid;
}
header h4 {
    margin: 0%;
    background-color: rgb(255 253 158 / 40%);
    padding: 1em;
    color: #4bdead;
    text-align: center;
    font-size: 1.5vh;
}
section  h4 {
margin-bottom: 0;
color: rgb(241, 20, 20);
}
.featured {
    margin-top: 0.5vh;
}
nav>p {
    text-align: center;
    margin: 1vh;
    font-size: 1.5vh;
    color: #6a6a6a87;
}
article>div>h3 {
    font-family: 'Pangolin', cursive;
}
article hr {
    color: rgba(0, 247, 255, 0.541);
    margin: 0%;
    border: solid;
}